@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Roboto+Slab:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
}

.container {
    width: 92.5%;
    margin-left: auto;
    margin-right: auto;
}


/* header */


header {
    margin-top: 18px;
    margin-bottom: 90px;
}

header .upper {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #939393;
    margin-bottom: 15px;
}

header .header-logo {
    display: block;
}

header .lang {
    display: flex;
    border: 1px solid #959595;
    height: 46px;
}

header .lang a {
    display: block;
    padding: 11px 34px;
    border: none;
    outline: none;
    font-size: 18px;
    background: #fff;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
    color:#000;
    text-decoration: none;
}

header .lang a.active {
    background: #BFBFBF;
}

header .lang a.active:hover {
    background: #BFBFBF;
}

header .lang a:hover {
    background: #F3F3F3;
}


header .nav {
    display: flex;
    gap: 20px;
    font-size: 16px;
}

header .nav a {
    text-decoration: none;
    color: #000;
    font-weight: 300;
}

header .nav a:hover,
header .nav a:active {
    font-weight: 400;
}


/* main */


h1 {
    font-size: 40px;
    text-align: center;
    font-weight: 400;
    margin-bottom: 95px;
    font-family: 'Raleway', sans-serif;
}

.cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    width: 48.9%;
    text-decoration: none;
    color: #000;
    margin-bottom: 120px;
}

.card .card-img {
    width: 100%;
    margin-bottom: 55px;
    overflow: hidden;
}

.card img {
    width: inherit;
    transition: 0.5s;
}

.card:hover img {
    transform: scale(1.05); 
}

.card h3 {
    font-weight: 400;
    font-size: 22px;
    text-align: center;
    margin-bottom: 35px;
    font-family: 'Raleway', sans-serif;
}

.card:hover h3 {
    text-decoration: underline;
    text-underline-offset: 2px
}

.card .info {
    font-size: 18px;
    text-align: center;
}

.card .info p {
    display: inline;
    padding-right: 14px;
}

.card .info p:last-child {
    padding-right: 0;
}

.card .info p:not(:first-child) {
    border-left: 1px solid black;
    padding-left: 15px;
}

.contact-card {
    border: 70px solid #D9D9D9;
    padding: 97px 74px;
    width: 48.9%;
    margin-top: 40px;
}

.contact-card h2 {
    font-weight: 400;
    font-size: 40px;
    text-align: center;
    margin-bottom: 85px;
    font-family: 'Raleway', sans-serif;
}

.contact-card form {
    display: flex;
    flex-direction: column;
    gap: 37px;
}

.contact-card form input {
    border: none;
    border-bottom: 1px solid #D9D9D9;
    padding-bottom: 10px;
    width: 100%;
    font-weight: 400;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
}


.contact-card form input:active,
.contact-card form input:focus {
    outline: none;
    background-color: #fff;
}

.contact-card form input::-webkit-input-placeholder {
    color: #000;
}
.contact-card form input:-moz-placeholder {
    color: #000;
}

.contact-card form input[name="message"] {
    margin-top: 33px;
    margin-bottom: 54px;
}

.contact-card form button {
    height: 42px;
    font-weight: 400;
    font-size: 20px;
    background: none;
    border: 1px solid #939393;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
}

.contact-card form button:hover {
    background: #939393;
    color: #fff;
}

.contact-card form button:active {
    background: #000;
    color: #fff;
}

@media (max-width: 1900px) {
    .contact-card {
        border: 50px solid #D9D9D9;
        padding: 77px 54px;
    }

    .contact-card h2 {
        margin-bottom: 65px;
    }

    .contact-card form {
        gap: 27px;
    }
    
}

@media (max-width: 1600px) {
    .contact-card {
        padding: 57px 34px;
    }

    .contact-card h2 {
        font-size: 36px;
        margin-bottom: 45px;
        margin-top: 50px;
    }

    .contact-card form {
        gap: 17px;
    }

    .contact-card form input {
        font-size: 18px;
    }

    .contact-card form input[name="message"] {
        margin-top: 33px;
        margin-bottom: 24px;
    }
}

@media (max-width: 1440px) {
    .contact-card {
        border: 40px solid #D9D9D9;
        padding: 47px 24px;
    }
    .contact-card h2 {
        margin-top: 20px;
    }
}

.last-card {
    width: 48.9%;
    margin-top: 40px;
}

.last-card img{
    width: 100%;
}



/* footer */


footer {
    margin-top: 165px;
    background-color: #D9D9D9;
    padding: 45px 0;
    font-weight: 400;
    font-size: 20px;
    line-height: 229%;
}

footer .container {
    display: flex;
    justify-content: space-between;
}

footer .footer-logo {
    display: inline-block;
}

footer .social {
    display: flex;
    gap: 35px;
    justify-content: flex-end;
}


/* о выставке */

.about-exhibition {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}

.about-exhibition .img-wrapper {
    width: 48.9%;
}

.about-exhibition img {
    width: 100%;
}

.about-exhibition .about {
    border: 50px solid #D9D9D9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 100px;
    width: 48.9%;
}

.about-exhibition .about h1 {
    margin-bottom: 40px;
}

.about-exhibition .about .info {
    font-size: 18px;
    text-align: center;
    margin-bottom: 80px;
}

.about-exhibition .about .info p {
    display: inline;
    padding-right: 14px;
}

.about-exhibition .about .info p:last-child {
    padding-right: 0;
}

.about-exhibition .about .info p:not(:first-child) {
    border-left: 1px solid black;
    padding-left: 15px;
}


.about-exhibition .about .desc {
    font-weight: 300;
    font-size: 20px;
    text-align: center;
}


/* картинки */

.another {
    display: flex;
    row-gap: 80px;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media (max-width: 1830px) {
    .another .car-elem {
        width: 32%;
    }

    .about-exhibition .about {
        border: 50px solid #D9D9D9;
        padding: 0 20px;
    }
}

@media (max-width: 1500px) {
    .about-exhibition .about {
        border: 30px solid #D9D9D9;
    }

    .about-exhibition .about h1 {
        font-size: 30px;
    }

    .about-exhibition .about .desc {
        font-size: 18px;
    }
}


.another .car-elem {
    cursor: pointer;
    position: relative;
    background: #000;
}

.another .car-elem>img {
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: opacity 124ms linear;
}

.another .car-elem:hover>img {
    opacity: 0.5;
}

.another .car-elem:hover>.actions{
    display: flex;
}


.another .car-elem .actions {
    position: absolute;
    top: 88%;
    width: 100%;
    display: none;
    justify-content: space-between;
    padding: 0 35px;
}

.another .car-elem .actions button,
.carousel-header button {
    background: none;
    outline: none;
    border: none;
    height: 30px;
    width: 40px;
    cursor: pointer;
}

.another .car-elem .actions .likes{
    display: flex;
}

.another .car-elem .actions .likes .heart {
    background: url('../img/heart-empty.svg') no-repeat;
}

.another .car-elem .actions .likes .heart:hover {
    background: url('../img/white-heart.svg') no-repeat;
}

.another .car-elem .actions .likes .red-heart {
    background: url('../img/red-heart.svg') no-repeat;
}

.another .car-elem .actions .share {
    background: url('../img/share-empty.svg') no-repeat;
}

.another .car-elem .actions .share:hover {
    background: url('../img/share-white.svg') no-repeat;
}


.another .car-elem .actions .likes-counter {
    font-weight: 400;
    font-size: 22px;
    color: #FFF;
    margin-left: 10px;
}


/* поделиться */

.modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100vw;
    height: 100%;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,.7);
    z-index: 100;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    
}

.modal {
   width: 640px;
   height: 340px;
   z-index: 2;
   background: #fff;
   padding: 25px;
}

.modal .close-modal {
    background: url('../img/close.svg') no-repeat;
    background-size: 25px 25px;
    width: 25px;
    height: 25px;
    outline: none;
    border: none;
    float: right;
    cursor: pointer;
}

.modal h4 {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 40px;
    margin-top: 45px;
    text-align: center;
    margin-bottom: 50px;
}

.modal .share-nets {
    width: 350px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    margin-bottom: 50px;
}

.modal .ref {
    width: 400px;
    height: 40px;
    padding-left: 10px;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
}

.modal .ref p{
    font-weight: 400;
    font-size: 16px;
    margin-top: 6px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.modal .ref .copy {
    width: 40px;
    height: 38px;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.modal .ref .copy img{
    width: 30px;
    height: 30px;
}

/* карусель */


.all-white {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background: #fff;
    overflow-y: scroll;
}

.all-white .container{
    margin-top: 40px;
}


.all-white .carousel-header {
    display: flex;
    align-items: center;
}

.carousel-header button {
    height: 35px;
    margin-right: 30px;
}


.carousel-header .larger {
    background: url('../img/larger.svg') no-repeat;
}

.carousel-header .smaller {
    background: url('../img/smaller.svg') no-repeat;
}

.carousel-header  .c-share {
    background: url('../img/share-black.svg') no-repeat;
    width: 45px;
}

.carousel-header  .c-share:hover {
    background: url('../img/share-full-black.svg') no-repeat;
}

.carousel-header  .c-heart {
    background: url('../img/black-heart.svg') no-repeat;
    margin-right: 10px;
}

.carousel-header  .c-heart:hover {
    background: url('../img/black-full-heart.svg') no-repeat;
}

.carousel-header  .c-red-heart{
    background: url('../img/red-heart.svg') no-repeat;
    margin-right: 10px;
}

.carousel-header .c-likes-counter {
    font-weight: 400;
    font-size: 20px;
}

.carousel-header  .close {
    background: url('../img/close.svg') no-repeat;
    margin-left: auto;
    margin-right: 0;
}

.carousel {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.carousel .prev-btn {
    border: none;
    outline: none;
    background: url('../img/left-arrow.svg') no-repeat;
    width: 25px;
    height: 47px;
    cursor: pointer;
}

.carousel .next-btn {
    border: none;
    outline: none;
    background: url('../img/right-arrow.svg') no-repeat;
    width: 25px;
    height: 47px;
    cursor: pointer;
}

.carousel img {
    height: 90vh;
    display: none;
}








/* мобильная версия */

header .mob {
    display: none;
}

header .mob .hidden {
    width: 22px;
    display: hidden;
}

header .mob .header-logo img {
    width: 121px;
}

header .mob input {
    display: none; 
}

header .mob .menu-content {
    display: none;
}

.mob-car {
    margin-top: 100px;
    display: none;
    flex-direction: column;
    align-items: center;
}

.mob-car .arrows {
    width: 95%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.mob-car button {
    width: 25px;
    height: 25px;
    border: none;
    outline: none;
    cursor: pointer;
}

.mob-car .arrows .mob-prev-btn{
    background: url('../img/left-arrow-mob.svg') no-repeat; 
}

.mob-car .arrows .mob-next-btn{
    background: url('../img/right-arrow-mob.svg') no-repeat; 
}

.mob-car img {
    width: 100%;
    margin-bottom: 20px;
    display: none;
}

.mob-car .carousel-footer {
    width: 95%;
    display: flex;
    justify-content: space-between;
}

.mob-car .carousel-footer .mob-c-share{
    background: url('../img/share-black.svg') no-repeat;
    width: 35px;
    margin-right: 20px;
    background-size: 35px 25px;
}


.mob-car .carousel-footer .mob-c-heart{
    background: url('../img/black-heart.svg') no-repeat;
    width: 30px;
    background-size: 30px 25px;
}

.mob-car .carousel-footer .mob-c-heart:hover {
    background: url('../img/black-full-heart.svg') no-repeat;
    width: 30px;
    background-size: 30px 25px;
}

.mob-car .carousel-footer .mob-c-red-heart{
    background: url('../img/red-heart.svg') no-repeat;
    width: 30px;
    background-size: 30px 25px;
}

.mob-car .carousel-footer .mob-close {
    background: url('../img/close.svg') no-repeat;
    background-size: 25px 25px;
    margin-right: auto;
}

.mob-car .carousel-footer .mob-c-likes-counter {
    font-weight: 400;
    font-size: 18px;
    margin-left: 10px;
}

@media (max-width: 1279px) {


    .mob-car {
        display: flex;
    } 

    .all-white .container {
        display: none;
    }

    
    .about-exhibition .about h1 {
        font-size: 22px;
    }

    .about-exhibition .about .info {
        font-size: 16px;
        margin-bottom: 30px;
    }

    .about-exhibition .about .desc {
        font-size: 16px;
    }

    .another {
        justify-content: space-around;
    }
    
    .another .car-elem {
        width: 45%;
    }



    header {
        margin-top: 15px;
        margin-bottom: 20px;
    }

    header .container {
        display: none;
    }

    header .mob {
        display: block;
        width: 92%;
        margin-left: auto;
        margin-right: auto;
    }

    header .mob .menu {
        display: flex;
        justify-content: space-between;
    }

    header .mob .menu a {
        display: inline;
        text-align: center;
    }

    header .mob .lang {
        width: 150px;
        height: 35px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
    }

    header .mob .lang a {
        padding: 9px 27px;
        font-size: 14px;
    }

    header .mob .nav {
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    header .mob .menu-content {
        margin-bottom: 30px;
    }

    header .mob .burger {
        margin-top: 12px;
        order: 2;
    }

    header .mob .center {
        text-align: center;
    }

    header .mob #ham:checked~div .menu-content {
        display: block;
    }


    .container {
        width: 100%;
    }

    h1 {
        font-size: 22px;
        margin-bottom: 30px;
    }

    .cards {
        flex-direction: column;
        align-items: center;
    }
    
    .card {
        max-width: 600px;
        width: 100%;
        margin-bottom: 60px;
    }
    
    .card .card-img {
        width: 100%;
        margin-bottom: 20px;
    }
    
    .card h3 {
        font-size: 16px;
        margin-bottom: 15px;
    }
    
    .card .info {
        font-size: 12px;
    }
    
    .card .info p {
        padding-right: 10px;
    }
    
    .card .info p:not(:first-child) {
        padding-left: 11px;
    }

    .last-card {
        max-width: 600px;
        width: 100%;
        margin-top: 40px;
    }
    
    .last-card img{
        width: 100%;
    }

    .contact-card {
        border: 30px solid #D9D9D9;
        padding: 67px 44px;
        max-width: 600px;
        width: 100%;
        margin-top: -5px;
        order: 2;
    }
    
    .contact-card h2 {
        font-size: 20px;
        margin-bottom: 30px;
    }
    
    .contact-card form {
        gap: 20px;
    }
    
    .contact-card form input {
        padding-bottom: 5px;
        font-size: 16px;
    }

    .contact-card form input[name="message"] {
        margin-top: 20px;
        margin-bottom: 40px;
    }
    
    .contact-card form button {
        height: 30px;
        font-size: 16px;
    }


    footer {
        margin-top: 105px;
        padding: 15px 0;
        font-size: 14px;
    }

    footer .container {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    footer .rights {
        order: 3;
    }

    footer .join {
        order: 1;
    }
    
    footer .footer-logo {
        display: inline-block;
        order: 2;
    }
    
    footer .footer-logo img{
        width: 121px;
    }

    footer .social {
        display: flex;
        justify-content: center;
        gap: 35px;
    }
    
}



@media (max-width: 800px) {
    .another {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .another .car-elem {
        width: 95%;
        max-width: 450px;
    }

    .about-exhibition {
        flex-direction: column;
        align-items: center;
        margin-bottom: 60px;
       
    }
    
    .about-exhibition .img-wrapper {
        width: 100%;
        max-width: 450px;
    }
    
    .about-exhibition img {
        width: 100%;
    }
    
    .about-exhibition .about {
        margin-top: -10px;
        border: 20px solid #D9D9D9;
        padding: 40px 18px;
        width: 100%;
        max-width: 450px;
        min-height: 400px;
    }
    
    .about-exhibition .about h1 {
        font-size: 16px;
        margin-bottom: 20px;
    }
    
    .about-exhibition .about .info {
        font-size: 12px;
        margin-bottom: 30px;
    }
    
    .about-exhibition .about .desc {
        font-size: 14px;
    }

    .modal {
        max-width: 375px;
        width: 100%;
        height: 210px;
        z-index: 2;
        background: #fff;
        padding: 15px;
     }
     
     .modal .close-modal {
         background: url('../img/close.svg') no-repeat;
         background-size: 20px 20px;
         width: 20px;
         height: 20px;
         outline: none;
         border: none;
         float: right;
         cursor: pointer;
     }
     
     .modal h4 {
         font-family: 'Raleway', sans-serif;
         font-weight: 400;
         font-size: 20px;
         margin-top: 23px;
         margin-bottom: 33px;
     }
     
     .modal .share-nets {
         max-width: 250px;
         width: 100%;
         margin-bottom: 27px;
     }
     
     .modal .ref {
         max-width: 325px;
         width: 100%;
         height: 35px;
         padding-left: 6px;
     }
     
     .modal .ref p {
         font-weight: 400;
         font-size: 12px;
         margin-top: 8px;
     }
     
     .modal .ref .copy {
         width: 35px;
         height: 33px;
     }
     
     .modal .ref .copy img{
         width: 20px;
         height: 20px;
     }
}